doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    nav
      a(href="/") Home
      a(href="/find") Find
      a(href="/createData") Add
      a(href="/edit") Edit
      a(href="/delete") Delete

  body
    block content
